---
layout: resume
title: "Resume"
description: "Summary of my experience and skills"
header-img: "/img_compressed/unsplash/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg"
header-mask: 0.5
---

<!-- Resume Content -->
<div class="resume-container">
    <p><a href='/assets/posts/resume_clement_wang.pdf'> <i class="fa fa-file-pdf-o"></i> My resume also available in PDF format</a>.</p>
    {% include resume/header.html %}
    {% include resume/education.html %}
    {% include resume/experience.html %}
    {% include resume/highlights.html %}
    {% include resume/skills.html %}
    {% include resume/languages.html %}
</div>
