<!-- Resume Header -->
<div class="resume-header">
    <div class="resume-name">
        <h1>{{ site.data.resume.personal_info.name }}</h1>
        <p class="resume-title">{{ site.data.resume.personal_info.title }}</p>
    </div>
    <div class="resume-contact">
        <p><i class="fa fa-envelope"></i> <a href="mailto:{{ site.data.resume.personal_info.email }}" target="_blank">{{ site.data.resume.personal_info.email }}</a></p>
        <p><i class="fa fa-github"></i> <a href="{{ site.data.resume.personal_info.github_link }}" target="_blank">{{ site.data.resume.personal_info.github_username }}</a></p>
        <p><i class="fa fa-linkedin"></i> <a href="{{ site.data.resume.personal_info.linkedin_link }}" target="_blank">{{ site.data.resume.personal_info.linkedin_username }}</a></p>
        <p><i class="fa fa-globe"></i> <a href="{{ site.data.resume.personal_info.website }}" target="_blank">{{ site.data.resume.personal_info.website }}</a></p>
    </div>
</div>
